{% block connexion %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    Connecté en tant que {{ app.user.username }}
    -
    <a href="{{ path('logout') }}">Déconnexion</a>
{% else %}
    <a href="{{ path('security_login') }}">Connexion</a>
{% endif %}
{% endblock %}