{% extends 'base.html.twig' %}

{% block body %}
    <h1>All Recipes</h1>

    <ul>
        {% for recipe in recipes %}
            <li>{{ recipe.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
